torch --index-url https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.1.0%2Bcpu.cxx11.abi-cp310-cp310-linux_x86_64.whl
onnx==1.14.1
openvino==2023.1.0
optimum==1.13.2
transformers==4.33.1
sentence_transformers==2.2.2
optimum-intel==1.11.0
einops==0.6.1
onnxruntime==1.16.0
fire==0.5.0