/* Created by Scalers AI for Dell Inc. */
#tab {
    background: rgb(155, 155, 155);
}

#chatbot {
    background: black !important;
}

#textbox {
    background: black !important;
}

#audio {
    background: black !important;
    top: 10% !important;
    position: absolute;
    min-width: 0;
    width: 200px;
    right: -40px;
}

#send {
    background: rgb(0 11 159);
    width: 70px;
    height: 80px;
    position: absolute;
    top: 10%;
    right: 10px;
}

#send::before {
    content: "";
    background-image: url("file=images/send.png");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

div.svelte-1mwvhlq:not(.float) {
    font-size: large;
}

span.svelte-1gfkn6j:not(.has-info) {
    font-size: large;
}

.selected.svelte-kqij2n {
    font-size: large;
}

div.svelte-15lo0d8>*, div.svelte-15lo0d8>.form>* {
    min-width: 0 !important;
}

#component-15 {
    min-width: 0 !important;
}

div.svelte-sfqy0y {
    width: 1150px;
}
