#stream {
    background-color: rgb(0, 0, 0);
    height : 42vh;
}

#stream *{
    height:100%;
    width:100%;
}

#power_alert {
    background-color: rgba(27, 27, 27, 0.875);
    font-weight: bold;
    height : 100%;
    width : 100%;
}

#total_items {
    background-color: rgba(27, 27, 27, 0.875);
    font-weight: bold;
    height : 100%;
    width : 100%;
}

#box3 {
    background-color: rgb(0, 0, 0)
}

#map_row{
    height: 34vh;
}

#map_row * {
    height: 100%;
}

#trip_info_row{
    height: 30vh;
}

#trip_info_row div {
    height: 100%;
}

#sweat_warning_row{
    height: 20vh;
}

#sweat_warning_row div:not([data-testid="block-label"]) {
    height: 100%;
}


#report_row {
    width: 80%;
    margin: 0 auto;
    padding: 0 10vw;
}