shapely==2.0.1
requests==2.28.2
influxdb==5.3.1
eclipse-zenoh==0.10.0rc0
pyyaml==6.0.1
fire==0.5.0
asyncio==3.4.3
asyncua==1.0.6
numpy==1.26.4
pandas==2.2.0
openmeteo_requests==1.2.0
requests_cache==1.1.1
retry_requests==2.0.0